<div *ngIf="!isFormSubmitted" class="container">
  <!-- Formulario de Bienvenida -->
  <div class="welcome-form">
    <h2>Bienvenido</h2>
    <div>
      <label for="name">Nombre Completo:</label>
      <input 
        id="name" 
        type="text" 
        [value]="userName" 
        (input)="onNameInput($event)"
        required>
    </div>
    <div>
      <label for="age">Edad:</label>
      <input 
        id="age" 
        type="number" 
        [value]="userAge" 
        (input)="onAgeInput($event)"
        required 
        min="1">
    </div>
    <button (click)="submitForm()">Enviar</button>
  </div>
</div>

<!-- Contenido Principal Después de Enviar el Formulario -->
<div *ngIf="isFormSubmitted" class="container">
  <!-- Navbar -->
  <div class="navbar">
    <button class="menu-button" (click)="toggleMenu()">☰</button>
    <h1>Mi Pulsera</h1>
  </div>

  <!-- Sidebar Menu -->
  <div class="sidebar" [class.active]="menuOpen">
    <ul>
      <li (click)="showMetricsComponent()">Métricas</li>
      <li (click)="showMapComponent()">Mi Ubicación</li>
    </ul>
  </div>

  
  <!-- Main Content -->
  <div *ngIf="!showMap">
    <h2>Métricas</h2>
    <!-- Bienvenida Personalizada -->
  <h2>Bienvenido: {{ userName }}</h2>

    <div class="logo-container">
      <img src="https://i.imgur.com/0s2umGP.png" alt="Logotipo" class="logo">
    </div>
    <div class="metrics">
      <div class="metric">
        <label>Pulsaciones:</label>
        <span>{{ heartRate }} <small>BPM</small></span>
      </div>
      <div class="metric">
        <label>Temperatura:</label>
        <span>{{ bodyTemperature }} <small>°C</small></span>
      </div>
      <div class="metric">
        <label>Nivel de Oxígeno: hola</label>
        <span>{{ oxygenLevel }} <small>%</small></span>
      </div>
    </div>
  </div>

  <!-- Componente de Mapa -->
  <div id="map" *ngIf="showMap">
    <app-mapa></app-mapa>
  </div>
</div>
